.register-form, .login-form, .prenotazione-form {
    border-radius: 0.4rem;
    box-shadow: 0px 0px 26px -1px rgba(97,97,97,1);
    padding: 1.5rem;
    background-color: white;
    max-width: 30rem;
    margin: 0 auto;


    input,textarea {
        display: block;
        width: 100%;
        margin-top: 0.3rem;
        border-radius: 0.3rem;
        border: 1px solid gray;
        outline: none;
        padding: 0.5rem 1.25rem;
        color: black;
        font-size: 1.2rem;
    }
    
    label {
        font-size: 1.3rem;
    }
    
    .campo {
        margin: 1rem 0rem;
    }
}