.day {
    display: block;
    margin: 3rem 0;
    text-align: center;
    color: white;

    .date {
        display: block;
    }

    .programmazione {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        
        .evento {

            width: 40%;
            img {
                margin: 0 auto;
                width: 90%;
                border-radius: 0.3rem;
            }

            div.img {
                cursor: pointer;

                img {
                    margin: 0 auto;
                    width: 90%;
                    border-radius: 0.3rem;
                }

                
            } 

            @media screen and (min-width: 601px) {
                width: 20%;
            }

            @media screen and (max-width: 600px) {
                .evento {
                    width: 60%;
                }
            }

        }
    }
}