* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.film-container, .event-container {
  display: flex;
  flex-flow: column;
  row-gap: 1.5rem;
  margin-bottom: 3rem;
}

.locandina-preview {
  height: 20rem;
  border-radius: 0.4rem;
  display: none;
}

.edit-delete {
  display: block;
  text-align: right;
  width: 100%;
  padding: 0.7rem 1rem;
  background-color: #dadada;
  border-top: 2px solid #aaaaaa;
}

.edit-delete a {
  color: black;
  border-radius: 0.4rem;
  margin: 0 0.5rem;
  background-color: #ffffff;
}

.film, .evento {
  border-radius: 0.4rem;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.film .flex-container, .evento .flex-container {
  display: flex;
}

.film .flex-container .locandina-container, .evento .flex-container .locandina-container {
  text-align: center;
}

.film .flex-container .locandina-container img, .evento .flex-container .locandina-container img {
  width: 15rem;
  height: 20rem;
  border-radius: 0.4rem;
}

.film .flex-container .descrizione, .evento .flex-container .descrizione {
  margin: 0.5rem;
  max-height: 5rem;
  overflow: scroll;
}

.film .flex-container .descrizione h2, .evento .flex-container .descrizione h2 {
  margin: 0.5rem 0;
}

.suddivisione {
  width: 100%;
}

.add-button {
  border-radius: 0.4rem;
  background-color: white;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.apolloIframe {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 30%;
  height: 30%;
}

@media screen and (min-width: 601px) {
  .flex-container {
    flex-flow: row;
  }
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-flow: column;
  }
}

@media screen and (min-width: 1101px) {
  .suddivisione {
    display: flex;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 1100px) {
  .suddivisione {
    display: block;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  border-bottom: 2px solid #535353;
  background-color: white;
}

nav .nav-icon {
  text-align: center;
  text-align: center;
}

nav .nav-icon a {
  color: black;
  text-align: center;
}

nav .nav-icon i {
  padding: 0 1rem;
  font-size: 1.8rem;
}

nav .nav-icon:hover {
  background-color: gray;
}

.contenuto {
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: white;
  margin-bottom: 0.5rem;
}

.contenuto .titolo-orario {
  margin-bottom: 1rem;
}

.contenuto .titolo-orario h2 {
  display: inline;
}

.contenuto .titolo-orario p {
  text-align: end;
  display: inline;
}

.contenuto .table {
  overflow: scroll;
}

.contenuto table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.contenuto table tr:nth-child(even) {
  background-color: #dddddd;
}

.contenuto table tr.A-F {
  background-color: lightcoral;
}

.contenuto table tr.A-T {
  background-color: lightgreen;
}

.contenuto table td, .contenuto table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.ricerca {
  padding: 1rem;
  background-color: lightgrey;
  border: 1px solid gray;
  border-radius: 1rem;
}

.ricerca form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.ricerca input {
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  border: 1px solid gray;
}

.ricerca input:focus {
  border: 2px solid black;
}

.ricerca input#validi {
  width: 20px;
  height: 20px;
  margin: 0;
}

.ricerca button {
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.form {
  color: black;
  border-radius: 0.4rem;
  padding: 1.5rem;
  max-width: 50rem;
  margin: 0 auto;
}

.form input, .form textarea {
  display: block;
  background-color: rgba(255, 255, 255, 0.103);
  width: 20rem;
  border-radius: 0.3rem;
  margin-top: 0.3rem;
  border: 1px solid gray;
  outline: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
}

.form input:focus, .form textarea:focus {
  border: 2px solid #aaaaaa;
  margin-top: 0.3rem;
}

.form input.invalid {
  border: 2px solid #CF6679;
  margin-top: 0.3rem;
}

.form input.valid {
  border: 2px solid #54c958;
  margin-top: 0.3rem;
}

.form label {
  font-size: 1.3rem;
}

.form input#newsletter {
  display: inline;
  width: 25px;
  height: 25px;
  margin: 0.2rem;
}

.form input.checkbox {
  display: inline;
  width: 30px;
  height: 30px;
  margin: 0.5rem;
}

.form label#newsletter {
  position: absolute;
  left: 40px;
}

.form label#newsletter {
  display: inline;
  font-size: 0.9rem;
}

.form section.campo {
  margin: 1rem 0rem;
}

.form button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
  padding: 0;
  font-size: var(--mobile-font-size);
  /* Display at the top right of the container */
  position: absolute;
  top: 5px;
  right: 0;
}

.form button.submit {
  display: block;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
  color: #0a84ff;
  background-color: white;
}

.form button.submit:hover {
  border: 2px solid #0a84ff;
}

.form button.submit:active {
  color: #54c958;
  border: 2px solid #54c958;
}

.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.form-grid button.submit {
  margin: 0 auto;
  width: 30rem;
}

@media screen and (max-width: 950px) {
  .form-grid {
    grid-template-columns: auto;
  }
  .form {
    width: 30rem;
  }
}

.film-form h1 {
  text-align: center;
}

.film-form button.submit {
  width: 80%;
  margin: 1rem auto;
}

.data-form .add-button {
  margin-top: 1rem;
  padding: 0;
}

.data-form .add-button button {
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  color: #0a84ff;
  border: 1px solid gray;
}

div#contenitore-date {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: #DAE0E6;
  width: 100%;
  margin-bottom: 1rem;
}

div#contenitore-date div.data {
  background-color: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid gray;
  margin: 0.3rem;
}

div#contenitore-date div.data button {
  float: right;
  background: none;
  border: none;
}

div#contenitore-date div.data button i {
  color: #CF6679;
  font-size: 1rem;
}

body {
  width: 100%;
  line-height: 1;
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #DAE0E6;
  padding-bottom: 5rem;
}

body a {
  text-decoration: none;
  color: #0a84ff;
  padding: 0.3rem 0.5rem;
}

body a:hover {
  text-decoration: underline;
}

main {
  max-width: 1800px;
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
  min-height: 80%;
}

h1, h2 {
  margin-bottom: 1.5rem;
}

.event-form, .login-form, .prenotazione-form {
  border-radius: 0.4rem;
  box-shadow: 0px 0px 26px -1px #616161;
  padding: 1.5rem;
  background-color: white;
  max-width: 30rem;
  margin: 0 auto;
}

.event-form input, .event-form textarea, .login-form input, .login-form textarea, .prenotazione-form input, .prenotazione-form textarea {
  display: block;
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  outline: none;
  padding: 0.5rem 1.25rem;
  color: black;
  font-size: 1.2rem;
}

.event-form label, .login-form label, .prenotazione-form label {
  font-size: 1.3rem;
}

.event-form .campo, .login-form .campo, .prenotazione-form .campo {
  margin: 1rem 0rem;
}

.livesearch .searchbar input {
  width: 100%;
}

.livesearch #results .search-result {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: 0.3rem;
  width: 100%;
  margin: 0;
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: black;
}

.livesearch #results .search-result:hover {
  background-color: #a6e6ff;
}

button.button {
  font-size: 24px;
  border: 2px solid gray;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
  color: #0a84ff;
}
/*# sourceMappingURL=admin.css.map */