@import url("https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 57px;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer {
  width: 100%;
  min-height: 10vw;
  padding: 3rem;
  margin-top: 2rem;
  border-top: 3px solid #36b1b9;
  background-color: rgba(255, 255, 255, 0.062);
  text-align: center;
}

footer .footer p {
  line-height: 2rem;
}

footer .footer i {
  font-size: 2rem;
  margin: 1.5rem 0.4rem;
}

footer small {
  color: #a7a7a7;
}

nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.705);
  backdrop-filter: saturate(150%) blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-bottom: 2rem;
  border-bottom: 2px solid #a99d9e;
  white-space: nowrap;
  position: fixed;
  top: 0;
  padding: 0.2rem 0;
}

nav .logo {
  padding: 0 2rem;
}

nav .logo img {
  height: 3rem;
}

nav .ul.open {
  visibility: visible;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

nav .ul ul {
  list-style: none;
  display: flex;
}

nav .ul ul li {
  margin: 0 1.5rem;
}

nav .ul ul li a.active {
  color: #e94038;
}

.burger_btn {
  cursor: pointer;
  z-index: 106;
  margin: 1rem 1.8rem;
  padding: 0rem 0.2rem;
}

.burger_btn div {
  width: 27px;
  height: 3px;
  background: white;
  border-radius: 2px;
  margin: 6px 0;
}

.burger_btn.open {
  transform: rotate(360deg) translateX(6px);
  transition: all 0.7s ease-in-out;
}

.burger_btn .open.line1 {
  transform: rotate(45deg) translateY(12px);
  transition: all 0.7s ease-in-out;
}

.burger_btn .open.line2 {
  background-color: transparent;
  transition: all 0.7s ease-in-out;
}

.burger_btn .open.line3 {
  transform: rotate(-45deg) translateY(-12px);
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 601px) {
  nav {
    justify-content: space-around;
  }
  .burger_btn {
    display: none;
  }
  .ul {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  nav {
    justify-content: space-between;
  }
  .burger_btn {
    display: block;
  }
  .ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 98%;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: saturate(150%) blur(10px);
    transform: translateY(-100%);
    z-index: 105;
  }
  .ul ul {
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .ul ul li {
    padding: 1.5rem;
  }
  .ul ul li a {
    padding: 1rem;
    font-size: 18px;
  }
}

.form {
  border-radius: 0.4rem;
  padding: 1.5rem;
  max-width: 30rem;
  margin: 0 auto;
}

.form input, .form textarea {
  display: block;
  background-color: rgba(255, 255, 255, 0.102);
  width: 100%;
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid gray;
  color: white;
  outline: none;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
}

.form input:focus {
  border: 2px solid #aaaaaa;
}

.form input.invalid {
  border: 2px solid #cf6679;
}

.form input.valid {
  border: 2px solid #54c958;
}

.form label {
  font-size: 1.3rem;
}

.form input#newsletter {
  display: inline;
  width: 25px;
  height: 25px;
  margin: 0.2rem;
}

.form label#newsletter {
  position: absolute;
  left: 40px;
}

.form label#newsletter {
  display: inline;
  font-size: 0.9rem;
}

.form section.campo {
  margin: 1rem 0rem;
  position: relative;
}

.form button#toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 300;
  padding: 0;
  font-size: var(--mobile-font-size);
  /* Display at the top right of the container */
  position: absolute;
  top: 5px;
  right: 0;
}

.form button.submit:active {
  color: #54c958;
  border: 2px solid #54c958;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  background-color: #242323;
  color: white;
  margin: 0;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.4rem 1rem;
}

.button {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  .button {
    font-size: calc(1.17647vw + 12.23529px);
  }
}

@media screen and (min-width: 1000px) {
  .button {
    font-size: 24px;
  }
}

.button.blue {
  background-color: #36b1b9;
  color: black;
}

.button.blue:hover {
  background-color: #3ee1ec;
  color: black;
  transition: all 0.2s ease-in-out;
}

.button.red {
  border: 2px solid #e94038;
  color: #e94038;
}

.button.red:hover {
  color: #ff0d00;
  border: 2px solid #ff0d00;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: #36b1b9;
}

a:hover {
  color: #3ee1ec;
}

a.red {
  color: #e94038;
}

a.red:hover {
  color: #ff0d00;
}

/* Single property */
html {
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(1.17647vw + 10.23529px);
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

/* Multiple properties with same values */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

@media screen and (min-width: 20rem) {
  h1, h2, h3, h4, h5 {
    padding-top: calc(1vw - 0.2rem);
    padding-bottom: calc(1vw - 0.2rem);
  }
}

@media screen and (min-width: 70rem) {
  h1, h2, h3, h4, h5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.soft-round {
  border-radius: 0.2rem;
}

.round {
  border-radius: 0.4rem;
}

.contenuto {
  padding: 0.8rem 1.5rem;
  background-color: #ffffff1a;
  color: white;
  margin: 0 auto 2rem auto;
  border: 1px solid #a99d9e;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 1rem 0.5rem;
  margin: 4rem auto;
  min-height: 80%;
  border-radius: 0.5rem;
}

.cerchio {
  width: 3rem;
  height: 3rem;
  background-color: #e94038;
  border-radius: 2rem;
  position: relative;
}

.cerchio img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 0.7rem;
}

div.eco {
  display: block;
  font-size: 5rem;
  text-align: center;
  height: 20rem;
  line-height: 7rem;
  color: #fcedd8;
  font-family: 'Niconne', cursive;
  font-weight: 700;
  text-shadow: 5px 5px 0px #eb452b, 10px 10px 0px #efa032, 15px 15px 0px #46b59b, 20px 20px 0px #017e7f, 25px 25px 0px #052939, 30px 30px 0px #242323, 35px 35px 0px #242323, 40px 40px 0px #242323;
}

span.eco {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #e94038;
  text-shadow: 8px 8px #36b1b9, 20px 20px black;
}

div.neon {
  font-family: 'Monoton';
  font-size: 2rem;
  color: #e94038;
}

div.flex-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

div.flex-container h2 {
  margin-top: 0.7rem;
  margin-bottom: 0.3rem;
}
/*# sourceMappingURL=main.css.map */