$error: #CF6679;
$connected: #54c958;
$link: #0a84ff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}