@import 'config';

body {
    width: 100%;
    height: 100vh;
    line-height: 1;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #DAE0E6;

    a {
        text-decoration: none;
        color: $link;

        &:hover {
            text-decoration: underline;
        }
    }
}

main {
    width: 100%;
    max-width: 1700px;
    margin: 3rem auto;
    min-height: 80%;
    
}

h1 {
    margin-bottom: 1.5rem;
}
.film-form,.event-form {
    border-radius: 0.4rem;
    box-shadow: 0px 0px 26px -1px rgba(97,97,97,1);
    padding: 1.5rem;
    background-color: white;
    max-width: 30rem;
    margin: 0 auto;


    input,textarea {
        display: block;
        margin-top: 0.3rem;
        border-radius: 0.3rem;
        border: 1px solid gray;
        outline: none;
        padding: 0.5rem 1.25rem;
        color: black;
        font-size: 1.2rem;
    }
    
    label {
        font-size: 1.3rem;
    }
    
    .campo {
        margin: 1rem 0rem;
    }
}

.locandina-preview {
    height: 20rem;
}   

.livesearch {

    .searchbar {
        input {
            width: 100%;
        }
    }

    #results {

        .search-result {
            border-bottom:1px solid gray;
            border-left:1px solid gray;
            border-right:1px solid gray;
            border-radius: 0.3rem;
            width: 100%;
            margin: 0;
            font-size: 1rem;
            padding: 0.5rem;
            display: block;
            text-decoration: none;
            color: black;

            &:hover {
                background-color: rgb(166, 230, 255);
            }
        }
    }
}

.film-container, .event-container {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-bottom: 3rem;

    //overflow-x = scroll;

}

.edit-delete {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: center;

    a {
        
    }
}

.film {
    border-radius: 0.4rem;
    padding: -2.5rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 24px 0px rgba(97,97,97,1);

    .locandina-container {
        float: left;
        height: 20rem;
        img {
            height: 20rem;
        }
    }

    .descrizione {
        min-width: 8rem;
        max-width: 15rem;
        float: left;
        margin: 1rem;
        overflow: hidden;

        h2 {
            margin-bottom: 0.5rem;
        }
    }
}