nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    border-bottom: 2px solid rgb(83, 83, 83);
    background-color: white;

    .nav-icon {
        a {
            color: black;
            text-align: center;
            
        }
        text-align: center;
        text-align: center;
        
        i {
            padding: 0 1rem;
            font-size: 1.8rem;
        }

        &:hover {
            background-color: gray;
        }
    }
}