@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants  hover, focus, active {
        .text-shadow-sm-yellow {
            text-shadow:  0 0 3px rgb(255, 215, 99);
        }
        .text-shadow-sm-red {
            text-shadow:  0 0 3px rgb(250, 67, 127);
        }
        .text-shadow-sm-blue {
            text-shadow:  0 0 3px rgb(155, 249, 249);
        }
    }
}

@layer base {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer utilities {
    .no-double-tap-zoom {
        touch-action: manipulation;
    }
}

nav {
    backdrop-filter: saturate(150%) blur(7px);
}
